@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --background: #050505;
    --foreground: #ededed;
    --surface: #ffffff08;
    --surface-active: #ffffff08;

    /* Nunchi colors */
    --green: #61f878;
    --red: #ff484b;
    --pink: #f85cff;
    --blue: #2fd5ff;
    --yellow: #f4b22c;

    /* Text colors */
    --text-primary: #ffffff;
    --text-secondary: #ffffffca;
    --text-tertiary: #ffffff99;

    /* Border colors */
    --border-subtle: #ffffff0a;
    --border-light: #ffffff14;
    --border-medium: #ffffff1f;
}

html {
    min-height: 100%;
    color-scheme: dark;
    background: var(--background);
    background-image: radial-gradient(ellipse 120% 80% at 50% 100%, rgba(247, 92, 255, 0.086) 0%, rgba(247, 92, 255, 0.044) 40%, transparent 70%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center bottom;
}

body {
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--foreground);
    font-family:
        'DM Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    color-scheme: dark;
}
