:root {
    --background: #050505;
    --foreground: #ededed;
    --surface: #ffffff08;
    --surface-active: #ffffff08;

    /* Nunchi colors */
    --green: #61f878;
    --red: #ff484b;
    --pink: #f85cff;
    --blue: #2fd5ff;
    --yellow: #f4b22c;

    /* Text colors */
    --text-primary: #ffffff;
    --text-secondary: #ffffffca;
    --text-tertiary: #ffffff99;

    /* Border colors */
    --border-subtle: #ffffff0a;
    --border-light: #ffffff14;
    --border-medium: #ffffff1f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
